/* .stream-container {
    position: relative;
    min-width: 160px;
} */

/* .image-container>img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 8px;
} */

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

.platform-selection {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: white;
}
.platform-selection > div {
    cursor: pointer;
    margin: 20px;
    text-decoration: underline;
}

.main-view {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
}


.mobile .stream-container {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.mobile .image-container>img {
    display: block;
    width: 100%;
    height: auto;
}

.mobile .laser-switch {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    margin: 30px;
}
.mobile .laser-switch.pressed {
    background-color: black;
}